<!DOCTYPE html>
<html>
  <head>
    <% include includes/head %>
  </head>
  <body>
    <!-- prettier-ignore -->
    <% include includes/nav %>
    <% include includes/scripts %> 
    <% include includes/footer %>
  </body>
</html>
