<!DOCTYPE html>
<html>
  <head>
    <% include includes/head %>
  </head>
  <body>
    <!-- prettier-ignore -->
    <% include includes/nav %>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <img src="./img/main.svg" alt="" class="img-fluid p-5" />
        </div>
        <div class="col-12 text-center">
          <h2>Bellas Cejas Academy</h2>
          <% if (!currentUser) { %>
          <small>¿Ya tienes una cuenta? 👇</small>
          <div class="signin">
            <a href="/login">
              <button
                type="button"
                class="btn btn-primary btn-lg btn-block mt-2 pt-3 pb-3"
              >
                Inicia sesion
              </button>
            </a>       
          </div>
          <% } %>
      </div>
    </div>
    <% include includes/scripts %> <% include includes/footer %>
  </body>
</html>
