<!DOCTYPE html>
<html>
  <head>
    <% include includes/head %>
  </head>
  <body>
    <!-- prettier-ignore -->
    <% include includes/nav %>
    <!-- CONTENTIDO AQUI ABAJO -->
    <div class="container">
      <div class="row">
        <div class="col p-5">
          <p>Hola <%= name %>!</p>
        </div>
      </div>
    </div>
    <!-- prettier-ignore -->
    <% include includes/scripts %> 
    <% include includes/footer %>
  </body>
</html>
