<!DOCTYPE html>
<html>
  <head>
    <% include includes/head %>
  </head>
  <body>
    <!-- prettier-ignore -->
    <% include includes/nav %>
    <!-- CONTENTIDO AQUI ABAJO -->
    <div class="container">
      <div class="row">
        <div class="col p-5">
          <form class="p-4 bg-light rounded" method="POST" action="/registro">
            <div class="col text-center mb-5">
              <h2>Registrar nuevo usuario</h2>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Nombre</label>
              <input
                type="text"
                class="form-control form-control-lg"
                aria-describedby="emailHelp"
                placeholder="Ingresa el nombre"
                name="name"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Correo Electronico</label>
              <input
                type="email"
                class="form-control form-control-lg"
                aria-describedby="emailHelp"
                placeholder="Ingresa el correo electronico"
                name="email"
              />
              <small id="emailHelp" class="form-text text-muted"
                >Tus datos estan seguros</small
              >
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contrase単a</label>
              <input
                type="password"
                class="form-control form-control-lg"
                placeholder="Ingresa una contrase単a"
                name="password"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Repite tu contrase単a</label>
              <input
                type="password"
                class="form-control form-control-lg"
                placeholder="Repite la contrase単a"
                name="confirmPassword"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-lg mt-4 btn-block">
              Registro
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- prettier-ignore -->
    <% include includes/scripts %> 
    <% include includes/footer %>
  </body>
</html>
