body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body,
html {
  overflow-x: hidden;
}

a {
  color: #00b7ff;
}
/* NAVEGACION */

nav#navegacion {
  background-color: black;
}

body > div > div > div.col-12.text-center > div {
  margin-top: 50px;
  background-color: blue;
}
